nav.top-bar
    .top-bar-left
        ul.dropdown.menu(data-dropdown-menu)
            li.menu-text Node Template
            li
                a(href="#") Option 1
            li
                a(href="#") Option 2
    .top-bar-right
        ul.menu
            li
                button.button(type="button") Log In
