extends layout.pug

block title
    title Node Template

block stylesheets
    - var indexCss = compileDebug ? 'index.css' : 'index.min.css'
    link(rel="stylesheet", href='css/' + indexCss)

block body
    .row#testRow
        .small-12.medium-8.medium-offset-2.columns
            .media-object.stack-for-small
                .media-object-section
                    .thumbnail
                        img(src="img/test-image.png")
                .media-object-section.middle
                        h1

block scripts
    - var indexJs = compileDebug ? 'index.js' : 'index.min.js'
    script(src='js/' + indexJs)
